:root {
    --text-color: #f8f5f5;
    --background-color: #263343;
    --accent-color: #d49466;
}
body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--text-color);
}
a{
    text-decoration: none;
    color: var(--text-color);
}


.navbar {
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 16px;
    margin-bottom: 30px;

}
.navbar_logo{
    font-size: 24px;
}
.navbar_logo i{
    color: var(--accent-color);
}
.navbar_menu{
    display: flex;
    list-style: none;
    padding-left:0;
}
.navbar_menu li:hover{
    background-color: var(--accent-color);
    border-radius: 4px;
}
.navbar_menu li{
    font-size: 20px;
    padding: 8px 12px;
}
.navbar_writeBtn{
    list-style: none;
    color: var(--text-color);
    display: flex;
    padding-left: 0;
}

.navbar_writeBtn button {
    padding: 5px 12px;
    border-radius: 30px;
    border: var(--text-color) 2px solid;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    outline: none;
}
.navbar_writeBtn button:hover{
    color: var(--text-color);
    background-color: var(--background-color);
}
.navbar_toogleBtn {
    position: absolute;
    right: 25px;
    top: 12px;
    font-size: 24px;
    color: var(--accent-color);
    display: none;
}
.form_post{
    width: 50%;
    margin: auto;
    top: 20px;
    padding: 50px;
    border: var(--background-color) solid;
    border-radius: 5px;
    display: none;
    background-color: aliceblue;
}
.form-group label{
    display: block;
    margin-bottom: 10px;
}
.form-control {
    width: 90%;
    font-size: 15px;
    margin-bottom: 15px;
    padding: 6px 12px;
    border-radius: 5px;
    border: rgb(206, 212, 218) 1px solid;
    height: 20px
}
.btn {
    padding: 6px 12px;
    border-radius: 4px;
    border: rgb(206, 212, 218) 1px solid;
    cursor: pointer;
}
.btn-primary{
    background-color: white;
    font-weight: bold;
    color: black;
}
.btn-primary:hover{
    color: var(--text-color);
    background-color: var(--background-color);
}
.card-columns {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 20px;
}
.card{
    border-radius: 4px;
    display: grid;
    grid-template-rows: 200px 1fr max-content;
    box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 2px 5px rgba(0,0,0,0.24);
    transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-body{
    padding: 1rem;
    background-color: white;
}
.card-title{
    color: var(--background-color);
    font-size: 18px;
    font-weight: bold;
}
.card-text{
    cursor: pointer;
}
.card-img{
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}
.card-img-top{
    width: 100%;
    object-fit: cover;
}
.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    padding: 5px 8px;
}
.like .likeBtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--text-color);
    outline: none;
    margin: 5px 10px;
    font-size: 20px;
}
.card-footer .likeBtn:hover{
    color: var(--accent-color);
}
.card-footer .likeNumber {
    color: var(--text-color);
    font-size: 20px;
    justify-self: end;
}
.card-name{
    font-size: 20px;
    margin: 0;
    color: var(--text-color);

}

@media screen and (max-width: 768px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_menu li{
        text-align: center;
        width: 100%;
        cursor: pointer;
    }
    .navbar_writeBtn {
        display: none;
        justify-content: center;
        width: 100%;
        margin-bottom: 15px;
    }
    .navbar_toogleBtn {
        display: block;
    }
    .active {
        display: flex;
    }
}