<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>⛵ ShareLog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/22f5918b80.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script defer type="text/javascript" src="{{url_for('static', filename='app.js')}}"></script>
    <script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous">
    </script>
    <script>
        $(document).ready(function () {
            showArticlesHtmlCss();
            showArticlesJavaScript();
            showArticlesPython();
            showArticlesAlgorithm();
            showArticlesHoneyTip();
        });
        function showArticlesHtmlCss() {
                $.ajax({
                    type: "GET",
                    url: "/rank_htmlCss",
                    data: {},
                    success: function (response) {
                        let reviews = response['all_blogs']
                        for (let i = 0; i < 5; i++){
                            let title = reviews[i]['title']
                            let url = reviews[i]['url']
                            temp_html = `<li class="rank_in_order"> <a href="${url}">${i+1}. ${title}</a> </li>`
                            $('#rank_htmlCss').append(temp_html)
                        }
                    }
                })
        }
        function showArticlesJavaScript() {
                $.ajax({
                    type: "GET",
                    url: "/rank_javaScript",
                    data: {},
                    success: function (response) {
                        let reviews = response['all_blogs']
                        for (let i = 0; i < 5; i++){
                            let title = reviews[i]['title']
                            let url = reviews[i]['url']
                            temp_html = `<li class="rank_in_order"> <a href="${url}">${i+1}. ${title}</a> </li>`
                            $('#rank_javaScript').append(temp_html)
                        }
                    }
                })
        }
        function showArticlesPython() {
                $.ajax({
                    type: "GET",
                    url: "/rank_python",
                    data: {},
                    success: function (response) {
                        let reviews = response['all_blogs']
                        for (let i = 0; i < 5; i++){
                            let title = reviews[i]['title']
                            let url = reviews[i]['url']
                            temp_html = `<li class="rank_in_order"> <a href="${url}">${i+1}. ${title}</a> </li>`
                            $('#rank_python').append(temp_html)
                        }
                    }
                })
        }
        function showArticlesAlgorithm() {
                $.ajax({
                    type: "GET",
                    url: "/rank_algorithm",
                    data: {},
                    success: function (response) {
                        let reviews = response['all_blogs']
                        for (let i = 0; i < 5; i++){
                            let title = reviews[i]['title']
                            let url = reviews[i]['url']
                            temp_html = `<li class="rank_in_order"> <a href="${url}">${i+1}. ${title}</a> </li>`
                            $('#rank_algorithm').append(temp_html)
                        }
                    }
                })
        }
        function showArticlesHoneyTip() {
                $.ajax({
                    type: "GET",
                    url: "/rank_honeyTip",
                    data: {},
                    success: function (response) {
                        let reviews = response['all_blogs']
                        for (let i = 0; i < 5; i++){
                            let title = reviews[i]['title']
                            let url = reviews[i]['url']
                            temp_html = `<li class="rank_in_order"> <a href="${url}">${i+1}. ${title}</a></li>`
                            $('#rank_honeyTip').append(temp_html)
                        }
                    }
                })
        }
    </script>
</head>
<body>
<nav class="navbar">
    <div class="navbar_logo">
        <a href="{{ url_for('Home') }}">⛵ ShareLog</a>
    </div>
    <ul class="navbar_menu">
        <li><a href="{{ url_for('htmlCss') }}">HTML/CSS</a></li>
        <li><a href="{{ url_for('javaScript') }}">JavaScript</a></li>
        <li><a href="{{ url_for('python') }}">Python</a></li>
        <li><a href="{{ url_for('algorithm') }}">알고리즘</a></li>
        <li><a href="{{ url_for('honeyTip') }}">그외 꿀 정보</a></li>
    </ul>
    <div class="navbar_writeBtn" id="D-day" style="color: var(--text-color)">

    </div>
    <a href="#" class="navbar_toogleBtn">
        <i class="fas fa-bars"></i>
    </a>

</nav>
<div class="rank_form">
    <div class="rank">
        <a href="{{ url_for('htmlCss') }}"><p>🤘 <span>HTML/CSS</span></p></a>
        <ol id="rank_htmlCss">

        </ol>
    </div>
    <div class="rank" >
        <a href="{{ url_for('javaScript') }}"><p>☕ <span>JavaScript</span></p></a>
        <ol id="rank_javaScript">

        </ol>
    </div>
    <div class="rank" >
        <a href="{{ url_for('python') }}"><p>🚣‍ <span>Python</span></p></a>
        <ol id="rank_python">

        </ol>
    </div>
    <div class="rank" >
        <a href="{{ url_for('algorithm') }}"><p>🤓 <span>알고리즘</span></p></a>
        <ol id="rank_algorithm">
        </ol>
    </div>
    <div class="rank" >
        <a href="{{ url_for('honeyTip') }}"><p>🍯 <span>그외 꿀 정보</span></p></a>
        <ol id="rank_honeyTip">

        </ol>
    </div>
</div>
</body>
</html>